<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.number %></td>
        <td><%= link_to 'Показать', order %></td>
        <td><%= link_to 'Изменить', edit_order_path(order) %></td>
        <td><%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый заказ', new_order_path %>
