<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Номер:</strong>
  <%= @order.number %>
</p>



<%= link_to 'Изменить', edit_order_path(@order) %> |
<%= link_to 'Назад', orders_path %>
