<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @line_item.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Изменить', edit_line_item_path(@line_item) %> |
<%= link_to 'Назад', line_items_path %>
